<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="1.1.0.8000" description="Integrate EPiServer site with Optimizely.com A/B Testing service." tags=" EPiServerModulePackage EPiServerBetaAddon EPiServer Optimizely AB Testing ABTesting " productName="EPiServer Optimizely" version="1.1.0.8000">
  <assemblies>
    <add assembly="EPiServer.Optimizely" />
  </assemblies>
  <routes>
    <route url="{moduleArea}/{controller}/{action}/">
      <defaults>
        <add key="moduleArea" value="Optimizely" />
        <add key="controller" value="" />
        <add key="action" value="Index" />
      </defaults>
    </route>
  </routes>
  <clientResources>
    <add name="Optimizely" path="ClientResources/EPiServer.Optimizely.css" resourceType="Style" />
  </clientResources>
  <dojo>
    <paths>
      <add name="epi-optimizely" path="ClientResources/Scripts" />
    </paths>
  </dojo>
  <clientModule initializer="epi-optimizely.OptimizelyModule">
    <moduleDependencies>
      <add dependency="Shell" />
      <add dependency="CMS" />
    </moduleDependencies>
    <requiredResources>
      <add name="Optimizely" />
    </requiredResources>
  </clientModule>
</module>